*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    color: rgb(49, 49, 49);
}

img{
    width: 100px;
    height: 100px;
}
body{
    height: 100vh;
    width: 100vw;
}

body, .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: max-content;
    height: max-content;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.199);
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 35px;
    margin-bottom:4rem;
}

.disable{
    opacity: 0.3;
    pointer-events: none;

}
h1{
    margin-top: 1.5rem;
}
.head{
    margin-bottom: 2.5rem;
   
}

select{
    padding: .5rem 1.7rem;
    margin: 1rem .2rem;
    border: 2px solid rgb(93, 93, 93);
    border-radius: 10px;
    background-color:transparent;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    color: rgb(49, 49, 49);
}

button{
    font-size: 1.2rem;
    padding: .5em 2em;
    margin: 1em 1em;
    font-weight: 500;
    border-radius: 17px;
    background-color: rgb(0, 149, 255);
    color: #f6f6f6;
    box-shadow: 0px 5px 10px rgba(1, 114, 184, 0.158) ;
    letter-spacing: .06em;
    width: 100%;
    margin-bottom: 0;
    cursor: pointer;
}